.section__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1260px;
  margin: 40px auto;
}

.section__content__item {
  background-color: #fdfdfd;
  padding: 15px;
  width: 300px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 3px 0px;
}

.section__content__item h2 {
  text-align: center;
}

.item__language {
  display: flex;
  align-items: center;
}

.item__language p {
  margin-left: 10px;
}
