<section class="section">
  <h1 class="section__title">Perfil</h1>
  <div class="section__content">

    <div class="section__content__profile">
      <p class="name">Júlio da Silva Saldanha</p>
      <p class="date">Nascimento: 22/11/1999 - Solteiro - Brasileiro</p>
      <p class="email">São Paulo/SP - <a href="mailto:juliosaldanha71@gmail.com">juliosaldanha71@gmail.com</a></p>
    </div>

    <div class="section__content__objective item__curriculum">
      <p class="subtitle">Objetivo</p>
      <p>Tornar a experiência do usuário única. Criar aplicações WEB intuitivas e de alta performance. (front-end)</p>
    </div>

    <div class="section__content__school item__curriculum">
      <p class="subtitle">Escolaridade</p>
      <p>Técnico em informática (SENAI) – COMPLETO</p>
      <p>Superior Análise e Desenvolvimento de Sistemas (FIAP) - COMPLETO</p>
    </div>

    <div class="section__content__experience item__curriculum">
      <p class="subtitle">Experiência</p>
      <p>Atuo 2 anos desenvolvendo aplicações web como front-end. Primeiro ano como estagiário, segundo ano como júnior.
        Maior parte dessa experiência foi trabalhando com Angular/JavaScript</p>
      <p>Participei de projeto farmacêutico, financeiro e e-commerce</p>
    </div>

    <div class="section__content__courses item__curriculum">
      <p class="subtitle">Cursos Extracurriculares</p>
      <p>Mais de 40 cursos concluídos na plataforma da Alura https://cursos.alura.com.br/user/julio-saldanha</p>
    </div>

    <div class="section__content__info item__curriculum">
      <p class="subtitle">Informações adicionais</p>
      <p></p>
      <ul>
        <li>Noções básicas de Vue, React, Java, C#, NestJS, Flutter</li>
        <li>Conhecimento intermediário de NodeJS, Express, Sass, RXJS, Git, SQL, jQuery, API REST</li>
        <li>Domínio em HTML5, CSS3, JavaScript, Bootstrap, Design Responsivo, Angular, Angular Material, TypeScript</li>
        <li>Facilidade com o aprendizado de novas linguagens e tecnologias</li>
      </ul>
    </div>
  </div>
</section>